header {
    display: flex;
    justify-content: space-between;


}

#start-container {
    margin: 20% 25% 0% 25%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instructions {
    font-weight: bolder; 
    font-family: sans-serif;
}

#choices {
    cursor: pointer;
  
    

}

.intro {
    font-family: fantasy;
}

#highscorebtn {
    color: purple;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15;
}

#timer {
    margin-right: 5%;
    font-family: sans-serif;

}

#start-button {
    color: white;
    background-color: purple;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    font-size: 20px;
    border-color: purple;
    cursor: pointer;
}

 #next {
    display: none;
    color: white;
    background-color: purple;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    font-size: 20px;
    border-color: purple;
    cursor: pointer;
}  

.hidden {
    display: none;
  }
  
  .scores {
    border-style: groove;
    border-width: 10px;
    padding-left: 60px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
  }